@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


.cart-page-title {
    padding-top: 60px;
    background-color: #f6f9fb;
    margin-left: 25px;
    margin-bottom: 20px;
}

.cart-title-text {
    font-family: Arial;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 1px;
    color: #222;
}


.order-container-left {
    width: 60%;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px 10px 10px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    margin-bottom: 30px;
}

.order-container-left::-webkit-scrollbar {
    width: 0;
}

.order-container-left:hover::-webkit-scrollbar {
    width: 6px;
}

/* niente sfondo (track) */
.order-container-left::-webkit-scrollbar-track {
    background: transparent;
}

/* solo parte grigia */
.order-container-left::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}


.price-box {
    width: 40%;
    margin-left: 40px;
    background-color: #1e293b;
    border-radius: 30px;
    margin-bottom: 30px;
    align-self: flex-start;
    min-height: 100px;
}


.border-cart {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.product-detail {
    margin-left: 20px;
    line-height: 40px;
    margin-top: 40px;
}

.quantity-btn {
    margin: 0px 10px;
    padding: 0px 5px;
    font-size: 10px;
}

.product-disponible {
    padding: 0 24px;
    margin: 5px;
    border: none;
    border-radius: 999px;
    background: rgba(25, 135, 84, 0.1);
    color: #198754;
    font-size: 0.95rem;
    font-weight: 600;
    text-align: center;
    width: 170px;
}

.product-not-disponible {
    padding: 0 24px;
    margin: 5px;
    border: none;
    border-radius: 999px;
    background: rgba(255, 0, 0, 0.1);
    color: #ff0000;
    font-size: 0.95rem;
    font-weight: 600;
    text-align: center;
    width: 170px;
}

/* RESPONSIVE CART */



@media (max-width:768px) {
    .price-box {
        width: 80%;
        text-align: center;
        margin-left: auto;
        margin-top: 30px;
        order: -1;
    }

    .order-container-left {
        width: 100%;
        order: 1;
    }

    .responsive {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .order-container-left {
        height: auto
    }
}

/* .bin-padding {

} */

.bin-size{

}


.click-effect:active {
    transform: scale(95%);
    border:none;
    transition: all .1s ease-out;
    box-shadow: .2rem  .2rem .6rem -.2rem black, inset -.2rem  -.2rem .6rem -.2rem black;
}