/* HEADER */


.filters-header-styles {
    background-color: rgb(56, 56, 56);
    height: 3rem;
    top: 0;
}

.hover-bg-red:hover{
    background-color: red;
    color: white
}

.hover-bg-green:hover{
    background-color: green;
    color: white
}

.overflow-auto{
    overflow: auto;
}

.search-dropdown-wrapper{
    top: 120%;

}

.search-dropdown {
    max-height: 50vh;
    overflow: auto;
    background-color: rgb(56, 56, 56);
    color: white
}

.hover-dark:hover {
    color: black !important
}

.hover-dark:hover {
    background-color: rgb(181, 181, 181);
}