/* HEADER CSS */
nav {
    background-color: black !important;
}

.filters-header-styles {
    background-color: rgb(56, 56, 56);
    height: 3rem;
    top: 0;
}

.hover-bg-red:hover {
    background-color: red;
    transition: all .2s ease;
    color: white
}

.btn:focus {
    background-color: rgb(52, 255, 160);
    color: black
}

.dropdown-hover-green:hover {
    background-color: rgb(52, 255, 160);
    color: black;
}

.dropdown-hover-green:focus-visible {
    background-color: rgb(52, 255, 160);
}

.dropdown-hover-green:active {
    background-color: rgb(52, 255, 160) !important;
}

.overflow-auto {
    overflow: auto;
}

.search-dropdown-wrapper {
    top: 120%;
}

.hover-dark:hover {
    color: black !important
}

.hover-dark:hover {
    background-color: rgb(181, 181, 181);
}

.pika-style {
    background-image: url('../../assets/GIFs/pikachu-surprise.gif');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 50% 80%;
    width: 3rem;
    height: 2rem;
    transform: scale(1.5);
    display: flex;
    margin: -1rem 0 -1rem 0;
}

.navbar-brand {
    padding: 0 !important;
}

.logo-style {
    background-image: url('../../imgs/Logo-header/header-logo.png');
    background-size: 180%;
    background-repeat: no-repeat;
    background-position: 50% 45%;
    filter: saturate(100%) hue-rotate(150deg);
    width: 6rem;
    height: 2.5rem;
    display: flex;
}

.w-4-rem {
    width: 4rem;
}

.h-4-rem {
    height: 3rem;
}

.bg-green {
    background-color: rgb(25, 135, 84);
}

.bg-dark-green {
    background-color: rgb(16, 92, 57);
}


.search-dropdown {
    max-height: 50vh;
    overflow: auto;
    background-color: rgb(25, 135, 84);
    color: white;
    border-radius: .6rem;
}

.bg-scroll-black::-webkit-scrollbar {
    width: 8px;
}

.bg-scroll-black::-webkit-scrollbar-track {
    background: rgb(19, 108, 66);
    display: none;
}

.bg-scroll-black::-webkit-scrollbar-thumb {
    background: white;
    border: 1px solid black;
    border-radius: 10px;
}

.scale-120 {
    transform: scale(120%);
}

p {
    margin-bottom: 0;
}

.box-shadow-light {
    box-shadow: .1rem .1rem 1rem -.5rem black;
}

.header-button-style {
    border-radius: 1rem;
}

.mx--2 {
    /* margin-left: -2rem;
    margin-right: -2rem; */
}

.call-to-action {
    padding: .4rem;

}

.header-button-style:hover {
    transition: all .4s ease;
    background-color: rgb(25, 135, 84);
}

.header-button-style:hover svg {
    color: white !important;
}